@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #F2F2F8;
    background-color: #424242;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 25px;
}

.faq-header{
    font-size: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-container {
    padding: 10px;
    height: 545px;
    background-color: #3f3f3f;
    border-radius: 5px;
}

.question-answer {
    display: flex;
    flex-direction: column;
    background-color: #5F5F5F;
    height: 80px;
    max-height: 150px;
    width: 450px;
    padding: 20px;
    margin: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    overflow-y: hidden;
    transition: 1s;
    z-index: 100;
}

.answer {
    margin-top: 60px;
    text-align: left;
    transform: translateY(-20px);

}

.q-button{
    color: white;
    transition: 1s ease;
}


button {
    width: 25px;
    height: 25px;
    transform: translateX(390px) translateY(-125px);
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 100;
}


/* General Classess */
.question-answer.active {
    height: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}