*{
    box-sizing: border-box;
}

:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    border: none;
    background-color: var(--line-border-empty);
    padding: 10px 15px 10px 15px;
    border-radius: .5em;
}
button:active{
    transform: scale(.98);
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;   
}
.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--line-border-empty);
    background-color: white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: .3s ease;
}
.circle.active{
    border: 2px solid var(--line-border-fill);
    transition: 1s ease;
    
}

.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}