@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
body{
    background-color: rgb(32, 60, 114);
}
label{
    transform: translateY(30px);
}
input{
    margin: 20px 0px 20px 0px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    z-index: 100;
    
}
input:focus{
    outline: none;
    border-bottom: 1px solid lightblue;
    
}
.up{
    transform: translateY(-1px);

}
button{
    height: 30px;
    background-color: lightblue;
    border: none;
    border-radius: .2em;
    margin-bottom: 20px;
    font-weight: 600;
    color: black !important;
    cursor: pointer;

}
h4{
    font-size: 10px;
}
a{
    color: lightblue;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.form-container{
    width: 300px;
    background-color: rgb(17, 43, 77);
    padding: 35px;
    border-radius: 5px;
}
.form-container form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-container label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    
}

.active{
    color: lightblue;
}
