@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 100vh;
 background-color: steelblue;
 color: white;
}

h3{
    color: #fff;
    margin: 10px 0 20px;

}

.container{
    width: 500px;

}

#textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}
#textarea:focus{
    outline: none;
}

.tag{
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight{
    background-color: #273c75;
}