body{
    background-color: #efedd6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

h1{
    margin:  10px;

}

.box{
    background-color: steelblue;
    color: white;
    justify-content:   center;
    align-items: center;
    display: flex;
    width: 400px;
    height: 200px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0,3);
    transform: translateX(400%);
    transition: 1s ease;
}
.box:nth-of-type(even){
    transform: translateX(-400%);
}
.box.show{
    transform: translateX(0);
}

.box h2{
    font-size: 42px;
}

